<div class="inner cover">
	<h1 class="cover-heading">Read the Internet on your Kindle!</h1>
	<p class="lead">You had a big luck to enter this super application. It is an amazing tool which allow you to convert your favourite Internet texts to popular ebook formats.</p>
	<p class="lead">
		<a href="<%=convert_links_new_path %>" class="btn btn-lg btn-default">Try it now!</a>
	</p>
</div>