<!doctype html>  
<head>
   <meta charset="UTF-8">
   <title>Some title</title>
</head>
<body>
   <% @subpages.each do |subpage| %>
      <h2><%= subpage.title%></h2>
      <%= raw subpage.content%>
      </br></br>
   <% end %>



 </body>
</html>
